* {
    margin: 0;
    padding:0;
}

.imagem{
    opacity: 0.3;

}

table.tableLogin {
    position: absolute;
    left: 35%;
    top: 28%;
    background-color: #ffffff;
    border-radius: 30PX;
    width: 30%;
    text-align: center;
    border-collapse: collapse;
    padding: 15px;
    font-size: 18px;
    box-shadow: 7px 10px 10px;

}

.input {
    border-color: #cccccc;
    border-style: solid;
    padding: 6px;
    font-size: 14px;
    border-width: 0px;
    border-radius: 50px;
    box-shadow: 3px 6px 6px 0px rgba(42, 42, 42, .82);
    font-weight: bold;
}

.input:focus {
    outline: none;
}

.myButton {
    width: 70%;
    border: none;
    box-shadow: 4px 6px 10px 0px #000000;
    background-color: #292929;
    border-radius: 42px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 31px;
    text-decoration: none;
}

.myButton:hover {
    background-color: #363636;
}

.myButton:focus {
    outline: none;
}


.myButton:active {
    position: relative;
    top: 2px;
}

.textos {
    font-family: "Courier New", Courier, monospace;
    font-size: 15px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}
