
html,
body {
    margin: 0;
    padding: 0;
    background-color: #292929;
}

.img {
    height: 80px;
}


#map{
    border-radius: 25px;
	background-color: #ffffff;
    position: absolute;
    left: 48%;
    width: 50%;
    height: 65%;
    bottom: 17%;
}

.img:hover {
    cursor: pointer;
    /* box-shadow: 0px 0px 30px whitesmoke; */
    -webkit-filter: drop-shadow(2px 2px 2px #fafafa);
    filter: drop-shadow(5px 5px 5px #fafafa);
    
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

div.Rodape {
    background-color: #767675;
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: auto;
}

div.depoimentos {
    /* border: 2px solid #F7F76A;
    background-color: gray; */
    position: absolute;
    /* margin: 0 auto; */
    padding: 16px;
    margin: 16px 0;

    width: 90%;
    height: 32%;
    bottom: 62%;
    left: 5%;
}

/* div.depoimentos table tbody tr td:nth-child(2n){
    padding-bottom: 100px;
    /* background-color: aquamarine; */
} */

.hDepoTitulo{
    align-self: center;
    color: #fff;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-style: normal;
    text-decoration: underline;
    text-underline-position: below;
    font-variant: small-caps;
    text-shadow: 2px 2px 5px #000000;    
}

.depo{
    width: 200px;
    border: 1px solid #F7F76A;
    background-color: #000000;
    color: #fff;
    border-radius: 50px;
    /* padding: 10px; */
    /* margin-left: 70%; */
}

.depo p span{
    /* position: absolute; */
    /* margin: 0px; */
    /* margin-top: 0px; */
    padding: 0;
    margin-left: 110px;
    font-size: 22px;
}

.depo .pProjects{
    margin-top: -20px;
    margin-left:130px;
}

.depo .pText{
    margin-left: 10px;
}



.depo::after{
    content: "";
    clear: both;
    /* display: table; */
}

.depo img{
    position: absolute;
    width: 90px;
    /* object-position: 10px 10%; */
    margin-left:10px;
    margin-top:-20px;
    border-radius: 50%;
}

@media (max-width: 500px) {
    .depo {
        margin: auto;
        float: auto;
        display: block;
    }
}

/* .depo p{
    float: right;
} */



div.meio {
    background-color: #767675;
    position: absolute;
    width: 100%;
    bottom: 95%;
    height: 4%;
}


div.tituloVideo {
    position: absolute;
    bottom: 79%;
    height: auto;
    left: 48%;

}

div.info {
    background-color: #292929;
    position: absolute;
    width: 100%;
    bottom: 11%;
}

div.mapa {
    background-color: #ffffff;
    position: absolute;
    left: 48%;
    width: 50%;
    height: 65%;
    bottom: 17%;
}



p.texto {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 25px;
    letter-spacing: -2.2px;
    word-spacing: 4.8px;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-shadow: 2px 2px 5px #000000;
}


p.texto2 {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 20px;
    letter-spacing: -0.5px;
    word-spacing: 4.8px;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-shadow: 2px 2px 5px #000000;
}

p.texto3 {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 14px;
    letter-spacing: -1px;
    word-spacing: 4.8px;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    text-transform: capitalize;
    text-shadow: 2px 2px 5px #000000;
}


table.redtable {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table.redtable tbody td {
    font-size: 13px;
}

table.blueTable {
    text-align: left;
    bottom: 30%;
    width: 30%;
    margin: 3%;
}

table.blueTable td,
table.blueTable th {
    padding: 3px 2px;
}

table.blueTable tbody td {
    font-size: 15px;
}

table.blueTable thead th {
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
}
