body{
    margin: 0px;
}

a{
    text-decoration: none;
    color: #ffffff;
}

a:hover{
    text-decoration: underline;
}

.div-0 { 
    /* width="25%" align = "left" */
    background-color: #292929;
    width: 100%;    
    height: 12%;
    float: left;
}

.div-0 .imgLogo{
    width: 25%;
    float: left;
}

.div-0 .imgSlogan{
    width: 25%;
    float: right;
}



.div-2{
    background-color: #73020c;
    width: 100%;    
    height: 1%;
    float: left;
}

.div-1{ /*div corpo da pagina*/
    background-color: #292929;
    width: 100%;    
    height: auto;
    float: left;
    align-items: center
}

.div-3{ /*div corpo da pagina carrinho*/
    background-color:white;
    width: 80%;    
    height: auto;
    float: left;
    align-items: center;
    margin: 5px;
    padding: 5px;
}

.div-4{  /* div img carrinho*/
    background-color: #292929;
    width: 100%;    
    height: 5%;
    float: left;
}

.bVerMais{
    color:#ffA800;
    background-color: black;
    width: 150px;
    height: 40px;
    font-size: 15;
    margin-top: 20px;
    border: solid 1px black;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 .bVerMais:hover{
    background-color:#73020c;
}


.bComprar{
    color:black;
    background-color: ffA800;
    margin-top: 200px;
    margin-left: 50px;

    width: 150px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    border: solid 1px black;
    border-radius: 2px;
 }

 .div-card{
    align-items: center;
    width: 300px;
    height: 400px;
    background-color:#ffA800;
    float: left;
    margin: 5px;
    padding: 5px;
}

.divImagem{
    width: 100%;
    height: 70%;
}

.divImagem img{
    width: 100%;
    height: 100%;
}

.divMaisVendidos{
    margin-left: 200px;
    margin-right: 200px;
    background-color: #292929;
    width: 80%;    
    height: auto;
    float: left;
    
}

.divJogos{
    margin-left: 200px;
    margin-right: 200px;
    background-color: #292929;
    width: 80%;    
    height: auto;
    float: left;
      
}

.div-titulo{
    width: 100%;
    text-align: center;
    font-family: arial bold;

}

h7{
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    font-weight: bold;
    color: #ED0102;
    font-size: 25;
}
.div-descricao{
    width: 100%;
    text-align: center;
    font-size: 18;
}

.div-rodape{
    width: 100%;
    margin-top: 5px;
}

.botaoRodape{
    margin-top: 10px;
    width: 50%;
    background-color:#73020c;
    color:white;
    cursor: pointer;
    border: none;
    border-radius:5px;
    padding: 5px;
    margin-left: 70px;
    margin-right: 70px;
}

.botaoRodapeProdutos{
    margin-top: 10px;
    width: 50%;
    background-color:#73020c;
    color:white;
    cursor: pointer;
    border: none;
    border-radius:5px;
    padding: 5px;
    margin-left: 70px;
    margin-right: 70px
}

.botaoComprado{
    background-color: green;
}

.divVermais{
    margin-left: 74%;
}

.imgCarrinho{
    cursor: pointer;
    margin-right: 40px;
}